@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

/* header section */

/* Navbar */
header {
  max-width: 1600px;
}

nav {
  width: 100%;;
  display: flex;
  justify-content: space-between;
  background-color: #1A0B2E;
  align-items: center;
  /* margin: 0 auto; */
  padding: 16px 200px;
  border-bottom: 1px solid #412567;

}

.logo{
  color: #FFFFFF;
}

.logo span {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
background-clip: text;
-webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 500;
  gap: 32px;
  list-style: none;
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color: #ffffff;
  border-radius: 1000px;
  text-align: center;

}


btn:hover {

}

.menu {
  display: none;
  /* display: inline; */
}

/* Hero section */

.hero-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/hero-bg.png);
}

.imgs {
  position: relative;
  width: 334px;
}
.circle-img {
  width: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
}
.microphone-img {
  position: absolute;
  top: 33%;
  right: 33%;
}

.new-tab {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
  background-color: #00FF88;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 22%;
  right: 6%;
}
.hero-container h2 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 8px;
  
}

.hero-container p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 24px;

}

.hero-btn {
  display: flex;
  gap: 8px;
  margin-bottom: 100px;
}

.btn2 {
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color: #ffffff;
  border-radius: 1000px;
  text-align: center;
  animation-name: btn;
  animation: btn 2s infinite ease-in-out ;

}

@keyframes btn {
  0% {
    background-color: #1db954;
    box-shadow: 0 0 5px #1db954;
    transform: scale(1);

  }
  50%{
    background-color: #1ed760;
    box-shadow: 0 0 20px  #1db954;
    transform: scale(1.05);
  }
  100%{
    background-color: #1db954;
    box-shadow: 0 0 5px #1db954;
    transform: scale(1);

  }
}


.btn3 {
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  padding: 12px 20px;
  border: 1px solid #00FF88;
  border-radius: 10000px;
  background: transparent;
  animation-name: btn3;
  animation: btn3 2.5s infinite ease-in-out;

}

@keyframes btn3 {
  0% {
    box-shadow: 0 0 5px #1db954;
    transform: scale(1);

  }
  50%{
    box-shadow: 0 0 20px  #1db954;
    transform: scale(1.05);
  }
  100%{
    box-shadow: 0 0 5px #1db954;
    transform: scale(1);

  }
}



/* Main section */
/* /* main {
  display: flex;
  flex-direction: column; 
}*/

/* About Secton */

.about-section {
  max-width: 1600px;
  background: rgba(35, 14, 61, 1);
  padding: 120px 200px;
  
}

.about-section>h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.card-container>* {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
}


.card-premium {
  grid-area: card-premium;
}

.card-mobile {
grid-area: card-mobile;
}

.card-global {
grid-area: card-global;
}

.card-exclusive {
grid-area: card-exclusive ;
}

.card-rich {
  
  grid-area: card-rich;

}

.card-container {
  
  display: grid;
  gap: 30px;
  grid-template-areas: 
  "card-premium    card-mobile     card-mobile"
  "card-premium    card-global     card-global"
  "card-exclusive  card-exclusive  card-rich "
  ;

}



.card-container div img,p {
  margin-bottom: 16px;
}

.card-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card-container p {
  font-size: 1rem;
  font-size: 400;
  margin-bottom: 16px;
  color: #FFFFFF;
}

/* Feature Section */


.feature-section {
  max-width: 1600px;
  background: rgba(35, 14, 61, 1);
}

.feature-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.iframe-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
  width: 90%;
  gap: 25px;
  
  margin-bottom: 120px;
}

.video-card {
  background: rgba(53, 17, 101, 0.4);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.video-card iframe {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.youtube-icon {
position: absolute;
width: 80px;
height: 70px;
  top: 16%;
  left: 40%;
}

.video-card .card-info {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-info h3 {
font-size: 1.5rem;
font-weight: 700;
color: #FFFFFF;
padding: 24px;
margin-bottom: 12px;


} 

.card-info p {
  font-size: 1 rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0 24px ;
  margin-bottom: 12px;
}

.card-info span {
  font-size: 1rem;
  font-weight:600 ;
  color:#00FF88 ;
  padding: 12px 0 24px 24px;
  align-items: center;
  display: flex;

}

.card-info span img {
  margin-right: 6px;
  
} */
/* Meet the host section */
.host-tag {
  margin-top: 120px;
}

.host-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35116566;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  padding: 40px;
  gap: 24px;
  

}
.host-info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.host-info p {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.host-link ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

/* Podcast section */

.podcast-container {
  max-width: 1600px;
  background: rgba(35, 14, 61, 1);
  padding-top: 50px;
}

.podcast-info {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.podcast-info h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.podcast-info p {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 16px;
}

/* .podcast-info p .break-line {
  margin-bottom: 64px;
} */

hr {
  margin-top: 64px;
  border: 1px solid white;
}

.rating-info {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  padding: 80px 0 120px 0;
}
.rating p {
  color: #00FF88;
  font-size: 3rem;
  font-weight:900 ;
  margin-bottom: 15px;
}

.rating span {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}

/* Footer section */

footer {
  max-width: 1600px;
  height: 412px;
  text-align: center;
  background-image: url(./images/footer-bg.png);
  padding: 112px 120px;
}

.logo2{
  color: #FFFFFF;
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 32px;
}

.logo2 span {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
background-clip: text;
-webkit-text-fill-color: transparent;
}
.social-link {
  width: 75%;
  align-items: center;
  margin: 0 auto;
}


.social-link ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
  }

.link {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}

  .link  img {
  margin-right: 5px;
  margin-bottom: 35px;
  }

  footer p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
  }





@media screen and (max-width:576px) {
  nav {
    padding: 20px 20px;
  }
  .nav {
    max-width: 100%;
    gap: 30px;
  }
  .navbar, .btn {
    display: none;

  }
  .menu {
    display: inline;
  }
  /* hero section */

  .hero-container{
    background-image: url(./images/hero-bg-rsp.png);

  }

  .circle-img {
    width: 200px;
    margin: 40px 50px ;

  }
  .microphone-img {
    width: 80px;
    top: 30%;
    left: 33%
  }
  .new-tab {
    top: 15%;
    left: 60%;
  }


  
  .about-section {
    padding: 15px;
  }


  .card-container {
    grid-template-areas: 
    "card-premium"
    "card-mobile"
    "card-global"
    "card-exclusive"
    "card-rich";
    
  }


  .host-container {
    flex-direction: column;
    margin: auto;
    padding: 40px;
    width: 100%;
  }
  .host-info {
    text-align: center;
    align-items: center;
  }

  .host-link ul {
    align-items: center;
    justify-content: center;
  }

  .iframe-container {
    grid-template-columns: repeat(1,1fr);
  }

  .youtube-icon {
position: absolute;
width: 43px;
height: 43px;
  top: 21%;
  left: 46%;
}
}

@media screen and (min-width:992px){
  
}